<section class="dashboard">
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" placeholder="Title.." id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-text" type="text-area">Content</label>
      <textarea id="post-text" placeholder="Content.." name="post-text"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section class="dashboard-post">
  <div class="posts">
    <h2>Your Posts . . .</h2>
    <div class="post-wrapper">
      {{#each posts as |post|}}
      <div class="single-post">
        {{> post-info post}}
        <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
      </div>
      {{/each}}
    </div>
  </div>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>