<form class="login-form">
  <h1>Welcome Back!</h1>

  <label for="email-login">Email:</label>
  <input type="text" placeholder="Type your email address" id="email-login" />
  <label for="password-login">Password:</label>
  <input type="password" placeholder="Type your password" id="password-login" />
  <button type="submit">Log in</button>
</form>

<script src="/javascript/login.js"></script>