<form class="signup-form">
  <h1>Sign Up</h1>
  <label for="username-signup">Username:</label>
  <input type="text" placeholder="Username" id="username-signup" />
  <label for="email-signup">Email:</label>
  <input type="text" placeholder="Email" id="email-signup" />
  <label for="password-signup">Password:</label>
  <input type="password" placeholder="Password" id="password-signup" />
  <button type="submit">Sign-up</button>
</form>

<script src="/javascript/signup.js"></script>